<br>
<div style="text-align: center">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="display: inline-block">
    <div class="container-fluid bg-3 text-left">
       <h3 style="text-align: center">Projects</h3>
       <p>Hi. Matt again! This page features some of the highlighted projects that I have undertaken over the course of
         many years, in reverse chronological order.
       </p>
    </div>
  </div>
</div>

<div class="col-lg-11 col-md-11 col-sm-11 col-xs-12" style="margin: auto">
  <div class="row">

  {{#each projects}}
    <div class="card col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <br>
      <img class="card-img-top" src="{{img}}" style="max-width: 99%; margin: auto;">
      <div class="card-body">
        <h5 class="card-title">{{title}} - {{year}}</h5>
        <p class="card-text">{{desc}}</p>
        {{#if gh}}
            <a href="{{gh}}" class="btn btn-primary">View on GitHub</a>
        {{else}}
            <i>{{no_gh_desc}}</i>
        {{/if}}
      </div>
    </div>
  {{/each}}
  </div>
</div>
<br>

<script>
  $("document").ready(function() {
    $("#projects").addClass("active");
  });
</script>
